<div class="rounded-md shadow-md mx-auto overflow-hidden text-gray-100 max-w-sm h-full" [ngStyle]="{ background }">
  <div class="p-4 bg-gradient-to-b from-[transparent] to-[black_80%] h-full flex flex-col justify-end">
    <div class="h-1/2 flex flex-col justify-between">
      <div>
        <div class="font-bold text-xl mb-2">
          <ng-content select="[role=title]"></ng-content>
        </div>
        <p class="">
          <ng-content select="[role=description]"></ng-content>
        </p>
      </div>
      <div class="mt-4 text-end">
        <a href="#" class="text-sm">
          <ng-content select="[role=link-label]"></ng-content>
        </a>
      </div>
    </div>
  </div>
</div>
