<div class="min-h-screen">
  <!-- CODE -->
  <div class="container flex-col mt-24 max-w-7xl">
    <div class="flex justify-between lg:gap-8 flex-col lg:flex-row px-8 w-full">
      <div class="flex-1 max-w-xl mx-auto">
        <div>
          <h1 class="title text-5xl text-slate-800 mb-4 font-bold">
            Deploy&nbsp;<span class="text-gradient">instantly</span>
          </h1>

          <div class="my-12 flex">
            <ul class="list-checkmark mx-auto lg:mx-0">
              <li>Schedule jobs and build powerful flows</li>
              <li>Built-in monitoring</li>
              <li>Scale with ease</li>
              <li>Open source ecosystem</li>
              <li>Automate your deployments</li>
              <li>Easily bind your domains to workers</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="flex-1 max-w-xl mx-auto">
        <console [content]="content" title="hello.ts">
          <a
            role="footer"
            routerLink="/docs/examples/poll"
            class="flex items-center justify-center h-12 hover:bg-slate-50 hover:text-slate-800"
          >
            Check out more examples
          </a>
        </console>
      </div>
    </div>

    <div class="mx-auto lg:mb-8">
      <a [href]="loginUrl" target="_blank" class="btn btn-blue text-xl px-6 py-4 rounded my-24"> Get Started </a>
    </div>
  </div>

  <!-- DEPLOY -->
  <div class="container my-12 max-w-7xl" *ngIf="false">
    <div class="w-full px-8">
      <div class="uppercase font-bold text-slate-400 mb-4 text-2xl">NO MORE DEVOPS</div>
      <div class="flex gap-8 w-full">
        <div class="flex-1">
          <h2 class="text-2xl text-slate-800 mb-4 font-bold">Easy to deploy</h2>
          <div>
            Focus on writing code. We handle the operational aspects, so you can concentrate on what you do best
          </div>
        </div>
        <div class="flex-1">
          <h2 class="text-2xl text-slate-800 mb-4 font-bold">Github integration</h2>
          <div>Automatically deploy your code on every push</div>
        </div>
        <div class="flex-1 flex justify-between"></div>
      </div>
    </div>
  </div>

  <!-- FUTURE -->
  <div class="container my-12 max-w-7xl" *ngIf="false">
    <div class="w-full px-8">
      <div class="uppercase font-bold text-slate-400 mb-4 text-2xl">future-proof</div>
      <div class="flex gap-8">
        <div class="flex-1">
          <h2 class="text-2xl text-slate-800 mb-4 font-bold">Constantly Evolving</h2>
          <div>
            We regularly roll out updates and new features to ensure you're always working with the latest technology
          </div>
        </div>
        <div class="flex-1">
          <h2 class="text-2xl text-slate-800 mb-4 font-bold">WASM Support</h2>
          <div>
            Upcoming support for WebAssembly (WASM) will open up new possibilities for performance optimization and
            language choice
          </div>
        </div>
        <div class="flex-1">
          <h2 class="text-2xl text-slate-800 mb-4 font-bold">Rusty 🦀</h2>
          <div>OpenWorkers is built with Rust, a modern language that guarantees memory safety and performance.</div>
          <div>
            <a href="https://www.rust-lang.org/" target="_blank" rel="noopener" class="underline">
              Learn more about Rust
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- NEWSLETTER -->
  <div class="container max-w-7xl mb-24">
    <div class="flex flex-col md:flex-row justify-between w-full py-12 md:py-24 border-y px-4">
      <h4 class="flex items-center py-2">Sign up for our newsletter</h4>

      <div *ngIf="subscribeSuccess; else newsLetterForm" class="flex items-center py-2">
        <span class="text-green-600 text-right text-xl">{{ subscribeSuccess }}</span>
      </div>

      <ng-template #newsLetterForm>
        <form
          class="flex gap-4 justify-between"
          action="https://newsletter.workers.rocks"
          method="POST"
          target="hiddenFrame"
          [formGroup]="newsletterForm"
          (ngSubmit)="subscribe()"
        >
          <div class="relative border rounded flex-1 max-w-[24rem] lg:max-w-[32rem]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 mx-2 text-slate-400 absolute translate-y-[-50%] top-1/2"
            >
              <path
                stroke-linecap="round"
                d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25"
              />
            </svg>

            <input
              class="pr-4 pl-10 h-full w-full lg:min-w-[24rem]"
              type="email"
              autocomplete="email"
              placeholder="Email"
              formControlName="email"
            />

            <div class="text-red-500 absolute mt-2" *ngIf="subscribeError">{{ subscribeError }}</div>
          </div>

          <button type="submit" class="btn btn-blue text-xl py-2 px-4 rounded max-w-xs">Subscribe</button>
        </form>
      </ng-template>
    </div>
  </div>

  <!-- SOCIAL -->
  <div class="container max-w-7xl mb-24 justify-center items-center gap-8">
    <a href="https://github.com/openworkers" target="_blank">
      <img src="/assets/github.svg" alt="github" class="w-16 h-16" />
    </a>

    <a href="https://t.me/openworkers" target="_blank">
      <img src="/assets/telegram.svg" alt="telegram" class="w-16 h-16" />
    </a>

    <a href="https://twitter.com/openworkers" target="_blank">
      <img src="/assets/twitter.svg" alt="twitter" class="w-16 h-16" />
    </a>
  </div>

  <div class="container max-w-7xl my-24" *ngIf="false">
    <div class="mt-16">
      <div class="uppercase font-bold text-slate-400 mb-4 text-2xl">Supported languages</div>
      <div class="flex gap-4 my-4">
        <img src="https://arq.pw/public/javascript.svg" alt="javascript" class="h-16 w-16 rounded" />
        <img src="https://arq.pw/public/typescript.svg" alt="typescript" class="h-16 w-16 rounded" />
      </div>
      <div class="font-bold py-2 rounded">More to come with WASM support!</div>
    </div>
  </div>
</div>
