@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
  --color-primary: #1f2937;
  --border-color: #e5e7eb;
  --bg-primary: #ffffff;
}

::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar:horizontal {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: rgba(217, 217, 227, 0.8);
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(236, 236, 241, var(--tw-bg-opacity));
}

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }

  html {
    /* absolute scrollbar */
    overflow-y: scroll;
    overflow-y: overlay;
  }

  input,
  select,
  textarea {
    @apply outline-none;
  }

  textarea {
    @apply min-h-[4rem];
  }

  input,
  select {
    @apply h-8;
  }

  textarea,
  fieldset > label {
    display: block;
  }

  select option:disabled {
    @apply text-gray-400;
  }

  body {
    color: var(--color-primary);
    background-color: var(--bg-primary);
  }

  app-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

@layer utilities {
  nav .link {
    @apply text-slate-700 hover:text-blue-500;
  }

  nav .link.active {
    @apply text-blue-500;
  }

  aside.menu li > a {
    @apply rounded p-2 hover:bg-gray-100 hover:text-slate-800;
  }

  aside.menu li > a.active {
    @apply text-blue-500 font-semibold bg-blue-50;
  }

  .markdown {
    overflow: hidden;
  }

  * > .separator:nth-of-type(1) {
    @apply hidden;
  }

  * > .separator:nth-of-type(2) {
    @apply border-b;
  }

  .markdown-body h1,
  .markdown-body h2,
  .markdown-body h3,
  .markdown-body h4,
  .markdown-body h5,
  .markdown-body h6 {
    @apply border-b pb-1;
    font-weight: var(--base-text-weight-semibold, 600);
  }

  .markdown-body > * {
    @apply mb-4;
  }

  .markdown-body pre {
    @apply text-sm;
  }

  .markdown-body pre > code {
    @apply bg-slate-50 rounded;
  }

  .markdown-body a {
    @apply text-blue-500 hover:underline;
  }

  .container {
    @apply flex mx-auto;
    @apply px-2 xs:px-4 sm:px-6;
  }

  .btn {
    @apply inline-flex items-center justify-center;
    @apply rounded-md;
    @apply transition-colors duration-150;
    @apply ease-in-out;
  }

  .btn-blue {
    @apply bg-blue-500 text-white;
  }

  ul.list-checkmark li {
    @apply flex items-center p-1;
  }

  ul.list-checkmark li::before {
    @apply bg-green-600/10 text-green-600 h-6 w-6 rounded-full flex items-center justify-center mr-2;
    content: ' ';
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MCA2MCI+PHBhdGggc3Ryb2tlPSIjMTZhMzRhIiBzdHJva2Utd2lkdGg9IjEwIiBmaWxsPSJub25lIiBkPSJNOCAzMCBMMjMgNDUgNTMgMTUiLz48L3N2Zz4=');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
}
